<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink = '/manufacturer'>
          <span data-feather="file"></span>
          Manufacturer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLinkActive="active" routerLink = '/model'>
          <span data-feather="shopping-cart"></span>
          View inventory/ Add Model
        </a>
      </li>
     
    </ul>

  
  </div>
</nav>