.modelList{
    margin-top: 2%;
}

.viewContainer{
    margin:10px;
}

.sold{
    width: 100%
}

.imageUrl{
    height: auto;
    max-width: 100%;
    width: 100%;
}

.imageContainer{
    text-align: center;
}